.section_choose {
  width: 100%;
  &_flat {
    cursor: pointer;
    &.hover {
      .section_choose_description {
        opacity: 1;
      }
    }
  }
  &_path {
    fill: transparent;
    transition: fill .3s;
  }
  &_description {
    font-size: 22px;
    font-weight: 500;
    opacity: 0;
    transition: opacity .3s;
  }
}