@font-face {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/HelveticaUltraLight/HelveticaUltraLight.eot") format("embedded-opentype"), url("../fonts/HelveticaUltraLight/HelveticaUltraLight.woff") format("woff"), url("../fonts/HelveticaUltraLight/HelveticaUltraLight.ttf") format("truetype");
}

@font-face {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/HelveticaThin/HelveticaThin.eot") format("embedded-opentype"), url("../fonts/HelveticaThin/HelveticaThin.woff") format("woff"), url("../fonts/HelveticaThin/HelveticaThin.ttf") format("truetype");
}

@font-face {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/HelveticaLight/HelveticaLight.eot") format("embedded-opentype"), url("../fonts/HelveticaLight/HelveticaLight.woff") format("woff"), url("../fonts/HelveticaLight/HelveticaLight.ttf") format("truetype");
}

@font-face {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/HelveticaRegular/HelveticaRegular.eot") format("embedded-opentype"), url("../fonts/HelveticaRegular/HelveticaRegular.woff") format("woff"), url("../fonts/HelveticaRegular/HelveticaRegular.ttf") format("truetype");
}

@font-face {
  font-family: "Helvetica";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/HelveticaItalic/HelveticaItalic.eot") format("embedded-opentype"), url("../fonts/HelveticaItalic/HelveticaItalic.woff") format("woff"), url("../fonts/HelveticaItalic/HelveticaItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/HelveticaMedium/HelveticaMedium.eot") format("embedded-opentype"), url("../fonts/HelveticaMedium/HelveticaMedium.woff") format("woff"), url("../fonts/HelveticaMedium/HelveticaMedium.ttf") format("truetype");
}

@font-face {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/HelveticaBold/HelveticaBold.eot") format("embedded-opentype"), url("../fonts/HelveticaBold/HelveticaBold.woff") format("woff"), url("../fonts/HelveticaBold/HelveticaBold.ttf") format("truetype");
}

@font-face {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/HelveticaBlack/HelveticaBlack.eot") format("embedded-opentype"), url("../fonts/HelveticaBlack/HelveticaBlack.woff") format("woff"), url("../fonts/HelveticaBlack/HelveticaBlack.ttf") format("truetype");
}

@import '../libs/normalize-scss/normalize';
@import '../libs/bootstrap/bootstrap_3.3.7';
@import '../libs/slick-1.8.0/slick/slick.scss';
@import '../libs/lightbox2-master/dist/css/lightbox.scss';
@import 'modules/general';
@import 'modules/typo';
@import 'modules/components/index';
@import 'modules/home/index';
@import 'modules/objects/index';
@import 'modules/single-object/index';
@import "modules/section/index";
@import "modules/managers/index";