.buyer_advantages
    .container
        h3.buyer_conditions_title Процедура покупки квартиры достаточно проста и может быть сведена к следующим этапам:
    .buyer_advantages_container
        .buyer_advantages_col.buyer_advantages_photo(style='background-image: url(img/buyer/advantages-photo.png)')
        ul.buyer_advantages_col.buyer_advantages_list
            li
                .number 1
                |Выбор понравившейся Вам квартиры и предварительное согласование условий её покупки: определившись с выбором квартиры, необходимо в главном офисе подать заявку на ее оформление (в наличии с собой необходимо иметь паспорт и идентификационный код). Выбранная Вами квартира бронируется на срок до 5 рабочих дней с момента подписания договора.
            li
                .number 2
                |Подписание согласованного договора:  на сделке  при себе необходимо иметь паспорт и идентификационный код. В том случае, если Вы находитесь в официальном  браке, то на сделке должна присутствовать супруг/супруга, с собой должны быть также паспорт и идентификационный код супруги/супруга и свидетельство о браке.
            li
                .number 3
                | Первый платеж необходимо сделать в течении 5 банковских дней с момента подписания договора.