include ../components/button

.find-cost-block.flat_find-cost-block
    .find-cost-block_background
        .find-cost-block_background_1
        .find-cost-block_background_2
    .container
        .find-cost-block_text НАМ МОЖНО ДОВЕРЯТЬ!
        +button('ЗАДАТЬ ВОПРОС', 'button')(class='find-cost-block_button')