.buyer_conditions
    h3.buyer_conditions_title Мы предлагаем Вам наиболее выгодные условия для приобретения квартир и нежилых помещений от застройщика:
    .row
        ul.buyer_conditions_list
            -
                var dataText = [
                    'для каждого проекта существует своя система лояльности, благодаря которой каждый покупатель  выбирает для себя наиболее приемлемые условия.',
                    'мы всегда готовы идти «навстречу» потенциальным покупателям, а потому для каждого клиента составляется индивидуальный график платежей.',
                    'в главном офисе компании Вы всегда можете получить юридическую консультацию у нашего юриста',
                    'в главном офисе компании Вы всегда можете получить юридическую консультацию у нашего юриста'
                ]

            each text in dataText
                li.col-md-6
                    .buyer_conditions_list_item= text