section.objects_slider
    .home_objects
        h2.block-title Объекты
        .objects_slider_slider
            .row
                each val in [1, 2, 3]
                    each val in [1, 2, 3, 4, 5, 6]
                        .col-lg-3.col-md-4.col-sm-6
                            a.home_objects_item(href='/single-object.html' style='background-image: url(img/home/objects/object' + val + '.png)')
                                .home_objects_item_description
                                    .objects_slider_item_description
                                        img(src='../img/objects/build-icon.png')
                                        br
                                        | ул. Генуэзская,1 Одесса
                                    .address
                                        span ул. Генуэзская,1 Одесса
                                    .name ЖК «РОДОС»
                                    .price от 21 990 грн/м²
                                    //.home_objects_item_description_details Подробнее
                                .home_objects_item_label.realize Реализованные