.favorite_item {
  display: flex;
  padding: 30px;
  box-shadow:
          -8px 7px 13px rgba(0, 0, 0, 0.11),
          0 0 90px rgba(0, 0, 0, 0.04);
  margin-bottom: 70px;
  &_photo {
    width: 40%;
    background: no-repeat 50% 50%;
    background-size: contain;
    &_m {
      max-width: 100%;
      width: 320px;
      margin: 0 auto 20px auto;
      display: none;
    }
  }
  &_info {
    padding-left: 30px;
    width: 60%;
    &_top {
      border-bottom: 1px solid #c4c4c4;
      margin-bottom: 50px;
      &_left {
        float: left;
        .jk {
          font-weight: 700;
        }
        .flat {
          font-weight: 500;
          margin-top: 30px;
        }
      }
      &_right {
        float: right;
        padding-right: 40px;
        .stage, .section {
          width: 120px;
          height: 50px;
          margin-bottom: 15px;
          font-weight: 500;
          text-align: center;
        }
        .stage {
          background-color: #ff0000;
          color: #fff;
          padding-top: 15px;
        }
        .section {
          font-size: 21px;
          background-color: rgba(#1b1b48, 0.15);
          padding-top: 17px;
        }
      }
    }
    &_space {
      display: flex;
      justify-content: space-between;
      margin-bottom: 50px;
      &_item {
        text-align: center;
        font-weight: 500;
        .number {
          text-align: center;
          display: inline-block;
          width: 120px;
          height: 40px;
          background-color: #e8e8e8;
          padding-top: 10px;
          margin-top: 5px;
        }
      }
    }
    &_address {
      font-weight: 500;
      padding-left: 50px;
      background: url(../img/home/objects/location-icon.png) no-repeat 0 50%;
      background-size: 20px;
      margin-bottom: 50px;
    }
  }
  &:last-of-type {
    margin-bottom: 100px;
  }
}

@media (max-width: 1200px) {
  .favorite_item_info_space_item .text {
    font-size: 17px;
  }
}

@media (max-width: 992px) {
  .favorite_item_info_top_left {
    width: 100%;
    padding-bottom: 10px;
  }
  .favorite_item_info_top_right {
    width: 100%;
    padding: 0;
  }
  .favorite_item_info_top_right .stage, .favorite_item_info_top_right .section {
    display: inline-block;
  }
  .favorite_item_info_space {
    flex-wrap: wrap;
  }
  .favorite_item_info_space_item {
    text-align: left;
    margin-bottom: 20px;
    width: 50%;
  }
  .favorite_item_info_address {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .favorite_item_photo {
    display: none;
    &_m {
      display: block;
    }
  }
  .favorite_item_info {
    width: 100%;
    padding: 0;
  }
}

@media (max-width: 450px) {
  .favorite_item_info_top_left {
    font-size: 18px;
  }
  .favorite_item_info_top_left .flat {
    margin-top: 10px;
  }
  .favorite_item_info_space_item {
    width: 100%;
  }
  .favorite_item_info_space {
    margin-bottom: 0;
  }
  .favorite_item_info_address {
    margin-bottom: 20px;
  }
  .favorite_item_info_top_right .stage, .favorite_item_info_top_right .section {
    font-size: 16px;
    width: 90px;
    height: 42px;
    vertical-align: middle;
  }
}