.favorite_item {
  position: relative;
  display: flex;
  padding: 30px;
  box-shadow:
          -8px 7px 13px rgba(0, 0, 0, 0.11),
          0 0 90px rgba(0, 0, 0, 0.04);
  margin-bottom: 70px;
  &_photo {
    width: 40%;
    background: no-repeat 50% 50%;
    background-size: contain;
    &_m {
      max-width: 100%;
      width: 320px;
      margin: 0 auto 20px auto;
      display: none;
    }
  }
  &_info {
    padding-left: 30px;
    width: 60%;
    &_square {
      width: 125px;
      height: 45px;
      padding-top: 15px;
      text-align: center;
      background-color: rgba(#1b1b48, .15);
      font-size: 18px;
      font-weight: 500;
      display: inline-block;
      &.wide {
        width: 370px;
        max-width: 100%;
      }
      &.status {
        width: 160px;
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 0.72px;
        color: #ffffff;
        &.sale {
          background-color: #52ac62;
        }
        &.sold {
          background-color: #d75a4a;
        }
        &.booking {
          background-color: #ff9900;
        }
        &.price {
          width: 210px;
          background-color: #0f1f43;
        }
      }
    }
    &_section {
      padding: 20px 0;
      border-bottom: solid 1px #c4c4c4;
      .jk {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 20px;
      }
      &:first-child {
        padding-top: 0;
      }
      &.description {
        p {
          margin: 0;
          text-align: center;
          font-size: 18px;
          font-weight: 500;
        }
      }
      &.grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        text-align: center;
        .w100 {
          width: 100%;
          text-align: center;
          padding-bottom: 20px;
        }
        .type {
          font-size: 18px;
          font-weight: 500;
          padding-bottom: 10px;
        }
      }
    }
    &_left {
      float: left;
    }
    &_right {
      float: right;
      text-align: right;
    }
    &_address {
      font-weight: 500;
      padding-left: 50px;
      background: url(../img/home/objects/location-icon.png) no-repeat 0 50%;
      background-size: 20px;
      margin: 50px 0;
    }
  }
  &:last-of-type {
    margin-bottom: 100px;
  }
  &_cross {
    width: 30px;
    height: 30px;
    top: 0;
    right: 0;
    position: absolute;
    &:after, &:before {
      content: '';
      width: 100%;
      height: 2px;
      position: absolute;
      top: 50%;
      background-color: #000000;
    }
    &:before {
      transform: translateY(-1px) rotate(45deg);
    }
    &:after {
      transform: translateY(-1px) rotate(-45deg);
    }
  }
}

@media (max-width: 992px) {
  .favorite_item_info_left, .favorite_item_info_right {
    width: 100%;
    text-align: center;
  }
  .favorite_item_info_address {
    font-size: 18px;
  }
  .favorite_item_info_section.grid {
    justify-content: center;
    *:not(.wide) {
      flex-grow: 1;
    }
    .favorite_item_info_square {
      margin-bottom: 10px;
    }
  }
}

@media (max-width: 768px) {
  .favorite_item_photo {
    display: none;
    &_m {
      display: block;
    }
  }
  .favorite_item_info {
    width: 100%;
    padding: 0;
  }
  .favorite_item_info_section:first-child {
    border-bottom: none;
  }
}