/* typo size
 ==========================================================================
 */

$smallTextSize: 13px;
$standartTextSize: 14px;
$XstandartTextSize: 15px;
$preMediumTextSize: 16px;
$mediumTextSize: 18px;
$largeTextSize: 20px;
$XLargeTextSize: 22px;
$XMLargeTextSize: 24px;
$XXLargeTextSize: 30px;
$XXXLargeTextSize: 36px;
$XXXXLargeTextSize: 40px;
$SuperLargeTextSize: 54px;

/* typo colors
 ==========================================================================
 */
$mainTypoColor: #000000;
$typoColorNo2:  #343538;
$highlightTypoColor: #e60000;
$lightTypoColor: #adb3bc;

.title {
  color: #000;
  font-size: 36px;
  line-height: 1.2;
  margin: 50px 0;
  &:before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 20px;
    background-color: $mainColorNo1;
  }
}