section.single-object_choose#single-object-choose
    include single-object-choose.svg
    .single-object_choose_text
        |Для просмотра планировки
        br
        |нажмите на этаж
    include ../components/find-cost-block