section.single-object_choose#single-object-choose
    img(src='img/single-object/slide-image.png')
    .single-object_choose_text
        |Для просмотра планировки
        br
        |нажмите на этаж
    include ../components/find-cost-block