section.single-object_description#single-object-description
    .single-object_description_content
        h2.block-title ЖК «АКРОПОЛЬ»
        p.single-object_description_address
            | Фонтанская дорога, 25
            br
            | (Тополевый переулок, 17а)
        .single-object_description_text
            p
                | Новый элитный комплекс Акрополь в живописном месте на 5-й станции Б. Фонтана.
                br
                | Комплекс с единой инфраструктурой, отвечающий всем требованиям высокого статуса владельцев. Специально выбранное место, атмосфера благополучия и комфорта.
                br
                | Дом, в котором хочется жить. Покупай и владей лучшим! 0% оформление. Эта квартира станет не только Вашим уютным и любимым домом, но и высоколиквидным объектом недвижимости на долгие годы!
    include single-object-description-map.svg
