-
    var anchorData = [
        { anchor: '#', text: 'ЖК «АКРОПОЛЬ»' },
        { anchor: '#', text: 'ОПИСАНИЕ' },
        { anchor: '#', text: 'ВИДЕОЗАПИСЬ' },
        { anchor: '#', text: 'ПЛАНИРОВКИ' },
        { anchor: '#', text: 'ПРЕИМУЩЕСТВА' },
        { anchor: '#', text: 'ОТДЕЛЫ ПРОДАЖ' }
    ]

aside.single-object_aside(style='background-image: url(img/single-object/slide-image.png)')
    nav.single-object_aside_nav
        .line
        ul.single-object_aside_ul
            each item, i in anchorData
                li.single-object_aside_li(class=i === 0 ? 'active' : '')
                    .square
                    a.single-object_aside_anchor(href=item.anchor)= item.text