section.single-object_slider#single-object-slider
    .single-object_slider_slides
        each val in [1, 2]
            .single-object_slider_slide
                img.single-object_slider_image(src='img/single-object/slide-image.png' alt='')
    .home_objects_item_label В продаже
    img.single-object_slider_logo(src='img/single-object/logo-object.png' alt='')
    a.single-object_slider_zoom(href="#" data-lightbox="zoom")
        img(src='img/single-object/zoom-icon.png' alt='zoom')