.contacts_items
    .row.contacts_items_grid
        each val in [1, 2, 3, 4, 5, 6, 7]
            .col-md-4
                .contacts_items_item
                    h3.title Центральный офис
                    .address
                        |Украина, 65045, Одесса
                        br
                        |ул. Новосельского 81 
                    .numbers
                        a(href='#') +38 (0482) 34-81-73
                        br
                        a(href='#') +38 (048) 777-19-65 
                    .mails
                        a(href='#') office@gefest-group.com