section.home_news
    .container
        h2.block-title Новости
        .home_news_slider
            each val in [1, 2, 3, 4, 5, 6]
                a.home_news_slide(href='/single-news.html')
                    .home_news_slide_image
                        img(src='img/home/news/' + ((val % 4) + 1) +'.png' alt='')
                    h3.home_news_slide_title ОСНОВАТЕЛЬ СК «ГЕФЕСТ» П. БУМБУРАС – ОФИЦИАЛЬНЫЙ СПОНСОР И ПРЕЗИДЕНТ БК «БИПА ОДЕССА»
                    .home_news_slide_date Июль 21, 2017
                    //-a(href='/single-news.html').home_objects_item_description_details.home_news_slide_details подробнее