include ../components/button

section.home_project
    .home_project_left
        h2.home_project_title СОЦИАЛЬНЫЕ ПРОЕКТЫ
        .home_project_slider
            .home_project_slide(data-back='img/home/project/background.png')
                p 10-Я СТАНЦИЯ БОЛЬШОГО ФОНТАНА, СКВЕР ПАВЛА ШКЯРУКА
                +button('ПОДРОБНЕЕ', 'a')(class='home_project_button' href='#')
            .home_project_slide(data-back='img/home/slider-top/slider-top-background.png')
                p 10-Я СТАНЦИЯ БОЛЬШОГО ФОНТАНА, СКВЕР ПАВЛА ШКЯРУКА
                +button('ПОДРОБНЕЕ', 'a')(class='home_project_button' href='#')