section.home_advantages
    .home_advantages_title
        .container
            h2.block-title Наши преимущества
    .home_advantages_content
        include home-advantages-round.svg
        .home_advantages_item.left
            .home_advantages_item_out-of-round
                | <span class="red">20 лет</span> на
                br
                | рынке Украины
            .home_advantages_item_in-round
                .number 20
                .text лет
        .home_advantages_item.left
            .home_advantages_item_out-of-round
                | <span class="red">475 000 м2</span> возводится
                br
                | в новых зданиях
            .home_advantages_item_in-round
                .number.small 475 000
                .text м2
        .home_advantages_item.right
            .home_advantages_item_in-round
                .number 12
                .text объектов
            .home_advantages_item_out-of-round
                | <span class="red">12 крупных объектов</span>
                br
                | сданы в эксплуатацию
                br
                | за последние 11 лет
        .home_advantages_item.right
            .home_advantages_item_in-round
                .number 6
                .text жк
            .home_advantages_item_out-of-round
                | <span class="red">6 крупных ЖК</span>
                br
                | будут сданы в эксплуатацию
                br
                | в ближайшие 3 года