.managers_content
    .container
        h1.block-title Менеджеры
        .managers_content_items
            - for (var i = 0; i < 10; i++)
                .managers_content_item
                    .photo(style='background-image: url(img/managers/managers-photo/' + i +'.jpeg)')
                    .managers_content_item_description
                        .name Виктория Спица
                        .number +380 97 491 1264
                        .mail vikaspica11@gmail.com