.buyer_top {
  .managers_top-banner {
    background-image: url("../img/buyer/banner-top.png");
  }
  .managers_top-banner_title {
    margin-bottom: 100px;
  }
}

@media (max-width: 768px) {
  .buyer_top .managers_top-banner_title {
    margin-bottom: 20px;
  }
}

@media (max-width: 450px) {
  .buyer_top .managers_top-banner_title {
    font-size: 18px;
  }
}