.buyer_conditions {
  padding-bottom: 40px;
  &_title {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 70px;
  }
  &_list {
    display: flex;
    flex-wrap: wrap;
    &_item {
      padding-left: 80px;
      text-align: justify;
      background: url("../img/buyer/ok-icon.png") no-repeat 0 0;
      background-size: 60px;
      margin-bottom: 60px;
      line-height: 1.2;
      font-weight: 500;
      font-size: 18px;
      min-height: 60px;
    }
  }
}

@media (max-width: 768px) {
  .buyer_conditions_title {
    font-size: 18px;
  }
  .buyer_conditions {
    padding-bottom: 0;
  }
}

@media (max-width: 450px) {
  .buyer_conditions_title {
    margin-bottom: 20px;
  }
  .buyer_conditions_list_item {
    font-size: 14px;
    padding-left: 40px;
    background-size: 30px;
    min-height: 30px;
    margin-bottom: 30px;
  }
}