include button

.find-cost-block
    .find-cost-block_background
        .find-cost-block_background_1
        .find-cost-block_background_2
    .find-cost-block_text ХОТИТЕ УЗНАТЬ СТОИМОСТЬ ВАШЕЙ КВАРТИРЫ?
    +button('УЗНАТЬ', 'button')(class='find-cost-block_button')

