footer.footer
    .footer_title_m
        .container
            .block-title Контакты
    .footer_map
        #footer-map
        .footer_map_contacts
            h2.block-title Контакты
            .footer_map_contacts_slider
                each val in [1, 2]
                    .footer_map_contacts_slide
                        .footer_map_contacts_subtitle Центральный отдел продаж:
                        .footer_map_contacts_address пер. Красный, 14
                        .footer_map_contacts_phone +38 (048) 780-55-55
                        .footer_map_contacts_text Пн -Пт с 9:00 до 18:00
                        .footer_map_contacts_text Сб с 10:00 до 15:00
                        a(href='#').footer_map_contacts_mail sales@gefest-group.com
            .slick-arrow.slick-prev
            .slick-arrow.slick-next
    .footer_after
        .container.footer_after_container
            .footer_after_logo
                img(src='img/components/header/logo.png' alt='')
            .footer_after_copyright
                | © 1997 - 2017, Гефест
                br
                | Все права защищены.
            .footer_after_socials
                each val in ['fb', 'tw', 'ig', 'vk', 'pi', 'in']
                    a(href='#' class=val).footer_after_socials_item
            .footer_after_copyright.footer_after_copyright_m.
                © 1997 - 2017, Гефест. Все права защищены.
script(src='js/index.js' defer)