header.header
    .header_info(style='background-image: url(img/components/header/header_background.png)').clearfix
        .container.header_info_wrapper
            .header_info_lang
                a(href='#').header_info_lang_item.
                    RUS
                a(href='#').header_info_lang_item.
                    ENG
                a(href='#').header_info_lang_item.
                    UA
                a(href='#').header_info_lang_item.
                    GK
            .header_info_logo
                img(src='img/components/header/logo.png')
                h2.
                    СТРОИМ, ГЛЯДЯ В БУДУЩЕЕ!
            .header_info_contacts.clearfix
                .header_info_contacts_selling.header_info_item
                    p.
                        Отдел продаж:
                    p.phone.
                        +38 (048) 780-55-55
                .header_info_contacts_builder.header_info_item
                    p.
                        Застройщик:
                    p.phone.
                        +38 (048) 234-81-73
                .header_info_contacts_social
                    a(href='#' style='background-image: url(img/components/header/sprite_social_logo.png)')
                    a(href='#' style='background-image: url(img/components/header/sprite_social_logo.png)')
                    a(href='#' style='background-image: url(img/components/header/sprite_social_logo.png)')
                    a(href='#' style='background-image: url(img/components/header/sprite_social_logo.png)')
                    a(href='#' style='background-image: url(img/components/header/sprite_social_logo.png)')
                    a(href='#' style='background-image: url(img/components/header/sprite_social_logo.png)')
    nav.header_nav
        ul.header_nav_wrapper
            li.active
                a(href='/' style='background-image: url(img/components/header/home_icon_nav.png)')
            li
                a(href='#').
                    О Компании
            li
                a(href='/objects.html').
                    Объекты
            li
                a(href='#').
                    Социальные проекты
            li
                a(href='#').
                    Покупателю
            li
                a(href='#').
                    Подобрать квартиру
            li
                a(href='#').
                    Новости
            li
                a(href='/managers.html').
                    Менеджеры
            li
                a(href='#').
                    Контакты
            li
                a(href='#').
                    Избранное
                button.header_nav_like
            .hover_line