.pagination
    a(href='#').pagination_arrow.prev <
    ul.pagination_pages
        li.active
            a(href='#') 1
        li
            a(href='#') 2
        li
            a(href='#') 3
        li.points
            a(href='#')
        li
            a(href='#') 12
    a(href='#').pagination_arrow.next >