each val in [1, 2, 3, 4]
    section.single-object_slider.projects_item(id='projects-item-' + val)
        .single-object_slider_slides
            .single-object_slider_slide
                img.single-object_slider_image(src='img/home/project/background.png' alt='')
            .single-object_slider_slide
                img.single-object_slider_image(src='img/single-object/slide-image.png' alt='')
        article.projects_item_description
            .overflow
                h2.block-title Греческий парк
                p Результаты исследований, осуществленные компанией «Гефест», показали плачевное состояние склонов под Приморским бульваром, в районе Воронцовской колоннады были обнаружены движения почвы. Поэтому возникла необходимость как можно быстрее начать укрепление склонов мощным поясом свай.
                p В малом зале одесского Горсовета 20 января 2017 года прошла демонстрация предпроектного предложения по ремонтно-реставрационным работам в Греческом парке. Представил новый вариант Греческого парка руководитель Совета по дизайну Одессы Михаил Рева. В новой версии отсутствует торговая галерея на 4000 квадратных метров, которая предлагалась ранее. Также будет восстановлен Рыбный ресторан.
        .single-object_slider_zoom
            img(src='img/single-object/zoom-icon.png' alt='zoom')