doctype html
html(lang='en')
    include modules/components/head
    body
        include modules/components/header
        main.about
            include modules/about/about-content
            include modules/home/home-news
        include modules/components/footer