doctype html
html(lang='en')
	include modules/components/head
	body
		include modules/components/header
		main.home
			include modules/home/home-slider-top
			include modules/home/home-project
			include modules/home/home-objects
		script(src='js/index.js' defer)