doctype html
html(lang='en')
	include modules/components/head
	body
		include modules/components/header
		main.home
			include modules/home/home-slider-top
			include modules/home/home-project
			include modules/home/home-objects
			include modules/home/home-advantages
			include modules/home/home-news
		include modules/components/footer