doctype html
html(lang='en')
    include modules/components/head
    body
        include modules/components/header
        main.projects
            include modules/projects/projects-aside
            .single-object_container
                include modules/projects/projects-item
        include modules/components/footer