include modules/components/breadcrumbs

doctype html
html(lang='en')
    include modules/components/head
    body
        include modules/components/header
        main.section
            .container
                +breadcrumbs('Главная', 'Объекты', 'ЖК', 'Секция')
                h1.block-title Планировки типового этажа
                include modules/section/section-select
                include modules/section/section-choose.svg
                include modules/section/section-info
                include modules/components/find-cost-block
        include modules/components/footer