doctype html
html(lang='en')
    include modules/components/head
    body
        include modules/components/header
        main.section
            .container
                h1.block-title Планировки типового этажа
        include modules/components/footer