include modules/components/breadcrumbs

doctype html
html(lang='en')
    include modules/components/head
    body
        include modules/components/header
        main.single-news
            +breadcrumbs('Главная', 'Новости', 'Новость 1')
            article.container
                h1.block-title Пантелис Бумбурас: Тратьте деньги на благие дела, а не на расшатывание обстановки
                .home_news_slide_date Июль 21, 2017
                .single-news_content
                    img(src='img/single-news/photo1.png' alt='')
                    p Греческий предприниматель и меценат, основатель строительной компании «Гефест» Пантелис Бумбурас заверил инвесторов, что строительство ведется на всех объектах без остановки и призвал других застройщиков больше вкладывать в социальную сферу и благотворительность.
                    p(style='font-style: italic') Уважаемые Одесситы!
                    p В последнее время наши оппоненты через специально созданные «фейковые» сайты распространяют заведомо ложные и клеветнические публикации, конечной целью которых является вытеснение компании «Гефест» со строительного рынка Одессы и Украины.
                    p Мы осуждаем такой грязный способ ведения конкурентной борьбы и не планируем опускаться до аналогичных ответных действий.
                    p Благодарим наших инвесторов за проявленное терпение и понимание, за умение отличить настоящую журналистику от заказной, качественные издания — от наспех сделанных сайтов-однодневок.
                    p Мы дорожим именем надежной строительной компании с 20-летним опытом работы в Украине. Гордимся качеством построенных объектов, доскональным соблюдением строительных норм и правил, всех требований действующего законодательства во время проведения строительных работ.
                    p Финансирование текущих проектов в настоящее время ведется с опережением графиков. Спасибо всем, кто не поддался лживым слухам, а лично посетил наши строительные площадки и убедился в том, что строительство продолжается на всех объектах. Спасибо вам за фотографии «с мест событий» на нашу почту и в социальных сетях.
                    p Мы гордимся тем, что являемся лидером по благоустройству Одессы среди всех строительных компаний. И призываем коллег соревноваться в добрых, по-настоящему богоугодных делах, а не в том, кто больше навредит городу и городской власти.
                    p Мы предпочитаем большую часть прибыли вкладывать не в личные офшоры и виллы за границей, не в бесконечное множество информационных ресурсов, очерняющих конкурентов по бизнесу и политических оппонентов, а в благотворительные проекты на нашей родной земле – в Украине, в строительство объектов социально-культурной сферы, в обустройство парков, скверов и других общественных площадей.
                    p Мы уважаем право социально активных граждан Украины на свободное изъявление своего мнения и право на мирный протест. Мы всегда внимательны к объективной критике и открыты для конструктивного диалога со здоровыми силами нашего гражданского общества.
                    p Однако мы осуждаем практику закамуфлированного за патриотическими лозунгами шантажа и вымогательства со стороны некоторых организаций. Взрослые молодые люди в состоянии найти более общественно полезное занятие и честный заработок, а мы лучше поможем малоимущим и детям.
                    p Для нас «Слава Украине – Героям Слава» — не просто лозунг. В этом – наша жизнь, наша деятельность. Здесь, в этой стране мы видим свое будущее и будущее наших детей и внуков.
                    p(style='font-style: italic')
                        |С благодарностью и уважением,
                        br
                        |Учредитель компании «Гефест»
                        br
                        |Пантелис Бумбурас
                    img(src='img/single-news/photo2.png' alt='')
        include modules/components/footer