doctype html
html(lang='en')
    include modules/components/head
    body
        include modules/components/header
        main.single-object
            include modules/single-object/single-object-aside
            .single-object_container
                include modules/single-object/single-object-slider
                include modules/single-object/single-object-description
                include modules/single-object/single-object-video
        include modules/components/footer