$objectMain: #001339;
$asideWidthClose: 30px;

.single-object {
  &_container {
    padding-left: $asideWidthClose;
  }
  & + .footer .footer_map {
    margin-left: $asideWidthClose;
  }
  .block-title {
    &:before {
      background-color: $objectMain;
    }
  }
}

@import "single-object-aside";
@import "single-object-slider";
@import "single-object-description";