.single-object_choose {
  position: relative;
  &_svg {
    width: 100%;
    display: block;
    &_path {
      fill: transparent;
      cursor: pointer;
      transition: fill .3s;
      &.hover {
        fill: rgba(#fff, .6);
      }
    }
    &_description {
      opacity: 0;
      cursor: pointer;
      display: none;
      transition: opacity .3s;
      path {
        stroke: #c4c4c4;
        stroke-width: 1;
        fill: #ffffff;
      }
      text {
        color: #0f1f43;
        font-size: 10px;
        font-weight: 400;
        user-select: none;
        .stage {
          font-size: 12px;
          font-weight: 700;
        }
      }
      &.hover {
        opacity: 1;
        cursor: pointer;
      }
    }
  }
  &_text {
    position: absolute;
    top: 30px;
    left: 30px;
    color: $objectMain;
    font-size: 24px;
    font-weight: 500;
  }
  .find-cost-block {
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: 1200px) {
  .single-object_choose .find-cost-block {
    position: relative;
    bottom: 0;
    left: 0;
    transform: none;
    width: 100%;
  }
  .single-object_choose_text {
    display: none;
  }
  .single-object_choose_svg_description {
    display: block!important;
    opacity: 1;
  }
}