.single-object_description {
  display: flex;
  &_content {
    width: 50%;
    padding: 100px 5%;
  }
  &_address {
    background: url("../img/single-object/description-adress.png") no-repeat 0 50%;
    background-size: contain;
    padding: 5px 0;
    padding-left: 60px;
    margin-bottom: 50px;
  }
  &_text {
    font-size: 20px;
  }
  &_map {
    width: 50%;
    display: block;
  }

}

#single-object-description-map-path {
  stroke: $objectMain;
  &.active {
    transition: all 1s linear;
    stroke-dashoffset: 0!important;
  }
}

@media (max-width: 1200px) {
  .single-object_description {
    flex-wrap: wrap;
  }
  .single-object_description_content {
    width: 100%;
  }
  .single-object_description_map {
    width: 100%;
    height: 600px;
  }
  .single-object_description_map_preview {
    display: none;
  }
  #single-object-description-map-path {
    display: none;
  }
  #single-object-description-map-marker {
    display: none;
  }
}

@media (max-width: 450px) {
  .single-object_description_content {
    padding: 20px 5%;
  }
  .single-object_description_map {
    width: 100%;
    height: 200px;
  }
  //.single-object_description_address {
  //  background-size: 30px;
  //}
  .single-object_description_text {
    font-size: 12px;
  }
  .single-object_description_address {
    font-size: 14px;
    font-weight: 500;
  }
}