.flat_description
    .row
        .col-md-6
            img.flat_description_photo(src='img/flat/flat-photo.png' alt='')
        .col-md-6
            .flat_description_labels
                .favorite_item_info_square.status.price 31 000,00
                .favorite_item_info_square.status.sale Продается
            .flat_description_char
                -
                    var descriptionData = [
                        {
                            text: 'Секция',
                            number: 'B'
                        }, {
                            text: 'Этаж',
                            number: '0'
                        }, {
                            text: 'Номер',
                            number: '5'
                        }, {
                            text: 'Тип',
                            number: 'Двухкомнатная'
                        }, {
                            text: 'Общая площадь',
                            number: '750  кв. м.'
                        }
                    ]
                ul
                    each item in descriptionData
                        li.flat_description_char_item
                            .text= item.text
                            .number= item.number
                .flat_description_char_text
                    p Спецпредложение!!! Только до 31 декабря