.section_select
    .row
        each val in [1, 2, 3]
            .col-md-4
                .section_select_wrapper.disabled
                    .section_select_input
                        input(type='text' value='Выберите жилой комплекс')
                        .value Выберите жилой комплекс
                        .arrow
                    ul.section_select_dropdown(data-value=Math.round(Math.random() * 4 * val) - 1)
                        - for (var i = 0; i < val; i++)
                            li(data-value=0 * (i + 1)) Акрополь
                            li(data-value=1 * (i + 1)) Милос
                            li(data-value=2 * (i + 1)) Родос
                            li(data-value=3 * (i + 1)) Корфу