.news_content
    each val in [1, 2, 3, 4]
        .news_content_item
            .row
                .col-md-6
                    .home_news_slide_image
                        img(src='img/home/news/' + ((val % 4) + 1) + '.png' alt='')
                .col-md-6
                    .news_content_item_text
                        h3.home_news_slide_title.
                            ОСНОВАТЕЛЬ СК «ГЕФЕСТ» П. БУМБУРАС – ОФИЦИАЛЬНЫЙ СПОНСОР И ПРЕЗИДЕНТ БК «БИПА ОДЕССА»
                        .home_news_slide_date Июль 21, 2017
                        p.news_content_item_text_description.
                            Пантелеймон Бумбурас, основатель СК «ГЕФЕСТ», Председатель БО «Фонд Бумбураса», стал официальным спонсором и Президентом БК «БИПА» (Одесса).
                        a(href='#').home_objects_item_description_details.home_news_slide_details подробнее
    include ../components/pagination