include ../components/breadcrumbs

.about_content
    .container
        +breadcrumbs('Главная', 'О компании')
        h1.block-title О Компании
        .managers_content_items
            - for (var i = 0; i < 3; i++)
                .managers_content_item
                    .photo(style='background-image: url(img/about/people-photo.jpg)')
                    .managers_content_item_description
                        .name Бумбурас Пантелеймон Васильевич
                        .text Президент компании
    .about_content_text
        .container
            h2.about_content_text_title О компании «Гефест»
            p.
                Строительная фирма «Гефест» начала свою деятельность на украинском рынке в 1997 году в городе Одессе. Основатель Пантелеймон Васильевич Бумбурас оценил перспективность развития этого региона, его возрастающие потребности в жилье и инфраструктуре в совокупности с нехваткой строительных фирм и компаний в регионе.
            p.
                Профессионализм, преданность делу, уважение к обществу и окружению, а главное любовь к воплощенным объектам было и есть секретом успеха и основной причиной, по которой «Гефест» заслужил доверие и уважение как местных, так и иностранных инвесторов и общественности.  
            p.
                Сегодня, спустя 20 лет непрерывной работы, строительная фирма «Гефест» — это синоним качества, стабильности, хорошего вкуса и быстроразвивающегося строительного объединения. Торговые и офисные центры, жилые здания, больницы, рестораны, учебные заведения украшают улицы Киева, Одессы, Ялты, Севастополя и Мариуполя.  
            p.
                Строительная фирма «Гефест» постоянно заботится о непрерывном улучшении качества и контроля на каждой стадии строительно-монтажных работ, имеет собственную материально-техническую базу производства и обработки стройматериалов. А именно: производство высочайшего качества бетона, изготовление алюминиевых окон и дверей, импорт и обработка мрамора, производство декоративных элементов фасадов, изготовление металлоконструкций.  
            p.
                Как результат такой стратегии – возможность фирмы «Гефест» соответствовать сложным временным и техническим требованиям.  
            p.
                Цель нашей компании – довольные клиенты и поддержание доверия и уважения потребителей. Ее перспектива – создание сильной строительной организации на международном уровне, характеризующаяся высоким качеством, уважением к окружающей среде и социальным аспектам.
            p(style='padding-top: 30px;text-align: center;color: #fe0e19;font-size: 18px;font-weight: 500;').
                Строим, глядя в будущее!