$homeAdvantagesBackgroundLayer: rgba(#e3e3e3, 0.9);

.home_advantages {
  background: url("../img/home/advantages/background.jpg") no-repeat 50% 50%;
  background-size: cover;
  &_title {
    background: $homeAdvantagesBackgroundLayer;
    .block-title {
      margin-bottom: 0;
    }
  }
  &_mask {
    display: block;
    &_rect {
      fill: $homeAdvantagesBackgroundLayer;
    }
  }
  &_gradient-circle {
    &.active {
      transition: stroke-dashoffset 3s;
      stroke-dashoffset: 0!important;
    }
  }
  &_content {
    position: relative;
  }
  &_item {
    position: absolute;
    top: 100px;
    white-space: nowrap;
    &_in-round {
      display: inline-flex;
      width: 180px;
      height: 180px;
      vertical-align: middle;
      flex-wrap: wrap;
      align-content: center;
      position: relative;
      svg {
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
      }
      .number, .text {
        width: 100%;
        text-align: center;
        font-size: 54px;
        font-weight: bold;
        color: rgba(0, 0, 0, 0.851);
      }
      .number.small {
        font-size: 32px;
      }
      .text {
        font-size: 24px;
        text-transform: lowercase;
      }
    }
    &_out-of-round {
      display: inline-block;
      vertical-align: middle;
      padding: 20px;
      font-size: 18px;
      text-transform: uppercase;
      line-height: 1.25;
      font-weight: bold;
      opacity: 0;
      transition: all 1s 3s;
      .red {
        color: $mainColorNo1;
      }
      &.active {
        opacity: 1;
        transform: translateX(0%)!important;
      }
    }
    &.left {
      right: 62%;
      transform: translate(90px, -50%);
      text-align: right;
      .home_advantages_item_out-of-round {
        transform: translateX(100%);
      }
    }
    &.right {
      left: 62%;
      transform: translate(-90px, -50%);
      .home_advantages_item_out-of-round {
        transform: translateX(-100%);
      }
    }
  }
}

@media (max-width: 1200px) {
  .home_advantages_item_out-of-round {
    font-size: 13px;
  }
}

@media (max-width: 992px) {
  .home_advantages_mask {
    display: none;
  }
  .home_advantages_item {
    position: static;
    width: 49.8%;
    &.right, &.left {
      transform: none;
      text-align: center;
    }
  }
  .home_advantages_content {
    background: rgba(227, 227, 227, 0.9);
    padding: 30px 0;
    & > .container {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

@media (max-width: 768px) {
  .home_advantages_item_in-round {
    width: 90px;
    height: 90px;
    .number {
      font-size: 33px;
      &.small {
        font-size: 15px;
      }
    }
    .text {
      font-size: 11px;
    }
  }
  .home_advantages_item_out-of-round {
    font-size: 11px;
    padding: 20px 5px;
  }
}

@media (max-width: 450px) {
  .home_advantages_item_out-of-round {
    font-size: 7px;
  }
}