.home_project {
  background: url("../img/home/project/background.png") no-repeat 50% 50%;
  background-size: cover;
  transition: background .5s;
  &_title {
    font-size: 36px;
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    color: #fff;
    margin-top: 0;
  }
  &_left {
    width: 50%;
    background-color: rgba($mainColorNo1, .5);
    padding: 70px;
  }
  &_slide {
    p {
      font-size: 18px;
      color: #fff;
      line-height: 1.2;
    }
  }
  &_button {
    margin-top: 40px;
    background-color: transparent;
    border: 2px solid #fff;
  }
  .slick-next {
    top: unset;
    left: unset;
    right: 0;
    bottom: -30px;
  }
  .slick-prev {
    top: unset;
    right: 100px;
    bottom: -30px;
    left: unset;
  }
  .slick-arrow:hover {
    background-color: #fff;
    border-color: #fff;
    &:after {
      color: $mainColorNo1;
    }
  }
}

@media (max-width: 1200px) {
  .home_project .slick-prev {
    right: 70px;
  }
}

@media (max-width: 992px) {
  .home_project_left {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .home_project_left {
    padding: 30px 4%;
  }
}

@media (max-width: 450px) {
  .home_project_left {
    text-align: center;
  }
  .home_project_title {
    text-align: center;
    font-size: 16px;
  }
  .home_project_slide p {
    font-size: 9px;
    padding: 0 35px;
  }
  .home_project_button {
    font-size: 10px;
    padding: 9px 30px 6px 30px;
    margin-top: 20px;
  }
  .home_project .slick-prev {
    right: unset;
    top: 0;
    left: 0;
    transform: none;
  }
  .home_project .slick-next {
    top: 0;
    right: 0;
    transform: none;
  }
}