.home_news {
  &_slider {
    margin: 0 -15px;
  }
  &_slide {
    padding: 0 15px;
    margin-bottom: 60px;
    &_image {
      height: 280px;
      overflow: hidden;
      img {
        width: 100%;
        display: block;
        transition: all .5s;
        //&:hover {
        //  transform: scale(1.2, 1.2);
        //}
      }
    }
    &_title {
      font-size: 16px;
      line-height: 1.2;
      height: 38px;
      overflow: hidden;
      text-transform: uppercase;
    }
    &_date {
      font-size: 14px;
      color: #000;
    }
    /*&_details {
      margin-top: 30px;
      text-transform: lowercase;
      &:after {
        content: none;
      }
      &:before {
        content: '';
        display: inline-block;
        width: 30px;
        height: 2px;
        background-color: $mainColorNo1;
        margin-bottom: 3px;
        margin-right: 10px;
        transition: all .3s;
      }
      &:hover {
        color: rgba(0, 0, 0, 0.749);
        &:before {
          transform: rotate(90deg);
        }
      }
    }*/
    &:after {
      content: '';
      display: block;
      clear: both;
    }
    &:hover {
      .home_news_slide_image img {
        transform: scale(1.2, 1.2);
      }
      .home_news_slide_title {
        text-decoration: underline;
      }
    }
  }
  .slick-prev {
    left: -80px;
  }
  .slick-next {
    right: -80px;
  }
  .slick-arrow {
    border-color: $mainColorNo1;
    &:after {
      color: $mainColorNo1;
    }
    &:hover {
      &:after {
        color: #fff;
      }
    }
  }
}